@{
    ViewBag.Title = "About Me";
    ViewBag.Message = "I'm Mitchell this is my About page, let's get started.";
}
<h2><b>@ViewBag.Title</b></h2>
<h4>@ViewBag.Message</h4>

<style>
    .responsive {
        width: 100%;
        max-width: 350px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    body {
        background-image: linear-gradient(to left, white, lightblue, lightskyblue, dodgerblue);
        background-attachment: fixed;
    }
</style>

<div class="well-lg" style="background-color: #262626; color: white; ">
    <div class="row">
        <div class="col-xs-12 col-sm-6" style="text-align: center;">
            <h2 style="margin-top: -5px;"><b>Biography</b></h2>
            <p>My name is Mitchell Clark and once again I started coding my Homework task very close to the due date. I love coding and wish to one day beat my procrastination. During this project I made use of HTML, MVC, Bootstrap and razor.</p>
        </div>

        <div class="col-xs-12 col-sm-6" style="float: right;">
            <img src="https://www.w3schools.com/howto/img_avatar.png" class="responsive" alt="Photo">
        </div>
    </div>
</div>