
@{
    ViewBag.Title = "Files";
    ViewBag.Message = "All your uploaded files will appear here.";
}

<h2><b>@ViewBag.Title</b></h2>
<h4>@ViewBag.Message</h4>

<style>
    .middle{
        text-align: center;
    }

    body {
        background-image: radial-gradient(circle, blue, aqua, lightskyblue, lightblue);
        background-attachment: fixed;
    }

    .table{
        margin-top: -20px;
    }
</style>
<div class="jumbotron" style="background-color: #262626;">
    <table class="table" style="background-color: #262626; color: white;">
        <thead>
            <tr>
                <th style="width: 350px;">File Name</th>
                <th class="middle">DOWNLOAD </th>
                <th class="middle">DELETE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
        </tbody>
    </table>
</div>
